main{
    margin: 0 10%;
}

.contact{
    margin: 2% 0;
    line-height: 1.35rem;
}

h2,
p,
a {
    margin: 0;
}

p{
    margin-top: 0.5rem;
}
.pobocka{
    margin-top: 15px;
}

.mapouter{
    margin: 5% 0;
}