/*Footer*/
footer{
  font-size: 14px;
  text-align: center;
  background-color: #1D5902;
  color: white;
  display: flex;
  padding: 0 10%;
  width: 100%;
}

footer div {
  flex-basis: 65%;
  margin-top: 8px;
}

.footer_a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 8px;
  background-color: #72A603;
  border-radius: 5px;
  flex-basis: 15%;
}

/* .footer{
  padding: 0 10%;
} */
