/* !! úkol - do budoucna předělat do sass
Colours:
main-green: #72A603
dark-green: #1D5902
light-green: #CDF27E
backgroud: #F2ECE4

!!! úkol - do budoucna najít vhodné fonty
 */

/* Header */
header{
    display: flex;
    height: 10vh;
}

.logo {
    flex-grow: 1;
    flex-basis: 30%;
}

.logo img {
    height: 10vh;
}

.telEm {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.telefon,
.email {
    flex-grow: 1;
    text-align: center;
    font-size: 17px;
    margin-top: 7px;
}

/*Navigation*/ /* do budoucna vytvořit burger menu*/
.nav_for_all{
    display: flex;
    background-color: #72A603;
    margin: 0;
    padding: 0 10%;
  }
  
.navitem{
    color: white;
    padding: 10px;
    /*flex-grow: 1;*/
    flex-basis: content;
    text-decoration: none;
}
  
.nav_for_all a:hover,
.nav_for_all a:focus,
.nav_for_all a:active {
    background-color: #1D5902;
}

.nav_for_signer{
    background-color: #F2ECE4;
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
}

.nav_for_signer_item{
    flex-basis: 35px;
}
/* media query*/
@media (min-width:650px){
    /*Header */
    header{
        height: 13vh;
    }
    
    .logo {
        flex-basis: 20%;
    }
    
    .logo img {
        height: 13vh;
    }

    .telEm {
        flex-direction: row;
        flex-grow: 4;
    }

    .telefon,
    .email {
        font-size: 22px;
        margin-top: 4.5vh;
    }

    /*Navigation */
    nav {
        font-size: 20px;
    }

    .navitem{
        padding: 12px 20px;
    }
}